.why-us{
    height: 100vh;
    display: grid;
    align-items: center;
}
.why-us-container {
	--cell-width: 26px;
	--cell-height: 38px;
	--cell-font-size: 19px;
	--max-rows: 4;
	width: calc(12 * var(--cell-width));
	height: calc(var(--max-rows) * var(--cell-height));
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	font-family: Google Sans Mono, ui-monospace, SFMono-Regular, Menlo, Monaco,
		Consolas, Liberation Mono, Courier New, monospace;
	font-weight: 500;
    margin: 10px auto;
}
@media (min-width: 360px) {
	.why-us-container {
		--cell-width: 30px;
		--cell-height: 44px;
		--cell-font-size: 22px;
	}
}
@media (min-width: 400px) {
	.why-us-container {
		--cell-width: 35px;
		--cell-height: 52px;
		--cell-font-size: 26px;
	}
}
@media (min-width: 640px) {
	.why-us-container {
		--cell-width: 42px;
		--cell-height: 62px;
		--cell-font-size: 31px;
		--max-rows: 3;
	}
}
@media (min-width: 1024px) {
	.why-us-container {
		--cell-width: 50px;
		--cell-height: 74px;
		--cell-font-size: 37px;
	}
}
@media (min-width: 1280px) {
	.why-us-container {
		--cell-width: 64px;
		--cell-height: 95px;
		--cell-font-size: 48px;
	}
}

.why-us-grid-row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.why-us-cell{
    height: var(--cell-height);
    width: var(--cell-width);
    border: 1px solid gray;
    color: white;
    display: grid;
    align-items: center;
}

.why-us-cell.empty{
	border-color: transparent;
}

.why-us-cell span{
    text-transform: capitalize;
    font-size: var(--cell-font-size);
}
