@charset "utf-8";

@import url(./css/about.css);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

/* Add this class to each section to enable scroll snap */
.scroll-snap-section {
  scroll-snap-align: start;
}

/* Adjust styling as needed for Hero and About sections */
.hero {
  height: 100vh;
  scroll-snap-stop: always;
  /* Optional: stops scrolling on the exact position */
}

.about-section {
  height: 100vh;
  scroll-snap-stop: always;
  /* Optional: stops scrolling on the exact position */
}



.hero {
  display: grid;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  font-size: 3em;
}

.hero-content {
  height: fit-content;
}

.hero h1 {
  text-align: center;
}



.background {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-color: rgb(1, 2, 19);
  position: fixed;
  top: 0;
  right: 0;
}

.box {
  width: 40px;
  height: 50px;
  font-size: 35px;
  margin: 0;
  position: relative;
  text-transform: capitalize;
}

.box.symbol {
  color: yellow;
}


.boxes-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  justify-content: center;
}

.word {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(47, 47, 48);
}

.word .box::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  /* Adjust the width of the separation line */
  background-color: rgb(47, 47, 48);
  /* Set your desired color */
  left: -1px;
  /* Adjust the position to the left of the letter */
  top: 0;
}

.word .box:first-child::before {
  content: none;
  /* Remove the separation line before the first letter */
}